<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>borderLayout test pages</title>
</head>
<body>
   <!--  <h2>just html samples</h2>
     <ul>
        <li><a href="html/jQueryUILayout/example.html">jQuery UI layout example</a></li>
        <li><a href="html/jQueryUILayout/example2.html">jQuery UI example with our jquery js</a></li>
        <li><a href="html/jQueryUILayout/simple.html">jQuery UI SIMPLE Layout</a></li>
        <li><a href="html/jQueryUILayout/container.html">jQuery UI Container Layout</a></li>
     </ul> -->

     <h2> jsf component examples</h2>
     <ul>
         <li><a href="borderPanel.jsf"> plain no options version</a></li>
       <!--  <li><a href="borderPanel2.jsf"> no component just resource loading and markup</a></li>  -->
         <li><a href="borderPanelContainer.jsf"> container style test</a></li>
         <li><a href="borderPanelContainer2.jsf"> container style test no styles in page</a></li>
         <li><a href="borderPanelContainer3.jsf"> default model</a></li>
         <li><a href="borderPanelContainer4.jsf"> default models with buttons to close, toggle and hide various panels</a></li>
         <br />
         <li><a href="borderPanelOnlyCenter.jsf">center panel only</a></li>
         <li><a href="borderPanelOnlyNC.jsf">North and center panel only</a></li>
         <li><a href="borderPanelOnlyNCW.jsf">North, West and center panel only</a></li>
         <li><a href="borderPanelOnlyNCWS.jsf">North, West, South and center panel only</a></li>
     </ul>
</body>
</html>