/*
 *  mobi:fieldSet special styling on mobile devices
 */

/* h:* components that render <input type="text">, <textarea> and <select> */
/* ace:textEntry, ace:textareaEntry, ace:maskedEntry, ace:simpleSelectOneMenu */
.ui-field-contain .mobi-fieldset-row input[type="text"]:last-of-type,
.ui-field-contain .mobi-fieldset-row input[type="date"]:last-of-type,
.ui-field-contain .mobi-fieldset-row input[type="time"]:last-of-type,
.ui-field-contain .mobi-fieldset-row textarea:last-of-type, 
.ui-field-contain .mobi-fieldset-row select:last-of-type,
.ui-field-contain .mobi-fieldset-row input.ui-inputfield.ui-inputmask,
.ui-field-contain .mobi-fieldset-row input.ui-inputfield.ui-textentry,
.ui-field-contain .mobi-fieldset-row input.ui-inputfield.ui-textareaentry,
.ui-field-contain .mobi-fieldset-row .ui-simpleselectonemenu:last-of-type select {
display: inline-block;
float: right;
width: 50%;
}

/* mobi:dateSpinner and mobi:timeSpinner */
.ui-field-contain .mobi-fieldset-row span.mobi-date-wrapper:last-of-type,
.ui-field-contain .mobi-fieldset-row span.mobi-time-wrapper:last-of-type { 
position: relative;
display: inline-block;
float: right;
width: 40%;
}

.ui-field-contain .mobi-fieldset-row span.mobi-date-wrapper:last-of-type > input.mobi-input-text,
.ui-field-contain .mobi-fieldset-row span.mobi-time-wrapper:last-of-type > input.mobi-input-text { 
position: absolute;
width: 100%;
margin-right: 28px;
right:0;
}

.ui-field-contain .mobi-fieldset-row .mobi-date-popup-btn:last-of-type,
.ui-field-contain .mobi-fieldset-row .mobi-time-popup-btn:last-of-type {
position: absolute;
right:0;
}

/* mobi:flipswitch */
.ui-field-contain .mobi-fieldset-row a.mobi-flipswitch:last-of-type,
.ui-field-contain .mobi-fieldset-row div.ui-autocompleteentry,
.ui-field-contain .mobi-fieldset-row div.ui-combobox,
.ui-field-contain .mobi-fieldset-row div.ui-selectmenu,
.ui-field-contain .mobi-fieldset-row div.ui-sliderentry {
display: inline-block;
float: right;
}

/* optional style class to be applied arbitrarily */
.ui-field-contain .mobi-fieldset-row .mobi-float-right {
display: inline-block;
float: right;
}
