.ui-selectmenu .ui-selectmenu-value > span {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-top:0;
    border-bottom:0;
    border-left:0;
}

.ui-selectmenu .ui-selectmenu-list > div > div:not(:last-child) {
    border-bottom: 0px;
}

.ui-selectmenu .ui-selectmenu-list > div > div {
    padding: .2em;
}

.ui-selectmenu .ui-selectmenu-button {
    display:inline-block;
    vertical-align:middle;
    width:18px;
    height:23px;
    border:0;
}